<html>
	<head>
		<style type="text/css">
			@import "https://fonts.googleapis.com/css?family=Roboto"
		</style>
		<style type="text/css">
			.twitterHead{
				background-color: white;
				border: 1px solid grey;
			}
			.twitter_icon{
				text-align: center;
			}
			.tabUnderline{
				text-decoration: underline;
				color: blue;
			}
			.bgcolor{
				background-color: blue;
				color: white;
				height: 60px;
			}
		</style>
	</head>
	<body>
		<div id="twitterSearch">
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/dist/bundle.js"></script>
	</body>
</html>